<h1>New Book</h1>

<form id="new-book" name="book">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" >
  </div>

  <div class="field">
    <label for="author"> author:</label>
    <input type="text" name="author" id="author">
  </div>

  <div class="field">
    <label for="status"> status:</label>
    <input type="text" name="status" id="status">
  </div>
  
  <div class="actions">
    <input type="submit" value="Create Book" />
  </div>

</form>

<a href="#index">Back</a>
