<h1>Edit Book</h1>

<form id="edit-book" name="book">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="author"> author:</label>
    <input type="text" name="author" id="author" value="<%= author %>" >
  </div>

  <div class="field">
  <label for="status"> author:</label>
    <input type="text" name="status" id="status" value="<%= status %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Post" />
  </div>

</form>

<a href="#/index">Back</a>
