<h1>New Book</h1>

<form id="new-book" name="book">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" >
  </div>

  <div class="field">
    <label for="author"> author:</label>
    <input type="text" name="author" id="author">
  </div>

  <div class="field">
    <label for="status"> status:</label>
    <!-- <input type="text" name="status" id="status"> -->
    <select name="status" id="status">
    <option value="0" selected >Not Read</option>
    <option value="1">Read</option>
    </select>
    <!-- <input type="radio" name="status" id='status_read' checked value="0" />Not Read
    <input type="radio" name="status" id='status_nread' value="1" />Read -->
  </div> 
  
  <div class="actions">
    <input type="submit" value="Create Book" />
  </div>

</form>

<a href="#">Back</a>
