<div id="notice"> </div>
<a href="#new">New Book</a>
<a href="#index"> Back </a>
<label>Search : <input id="search" /></label>

<table>
  <tbody id='bookstable'>
    <tr>
     <th> Id </th>
     <th>Name </th>
     <th>Author </th>
     <th>Status</th>
     <th></th>
     <th></th>
    </tr>
  </tbody>
</table>


